*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

:root {
    scroll-behavior: smooth;
    --highlight-color-1: #61dafb;
    --highlight-color-2: #e83e8c;
    --highlight-color-3: #422e58 ;
    --inverse-theme-color: #20232a;
    --inverse-text-color: #fff;
    --box-shadow: #21242c80;
    --theme-color: #ffffff77;
}

.body {
    background-image: linear-gradient(135deg, #0087D4, #505488,#2F3F80, #161569, #5A4894, #A950A1, #FF7CAE);
    background-size: 500%;
    animation: fanimado 10s infinite; 
}

.header{
    /* 100% de la pantalla */
    height: 100vh;

    background-image: url(../img/Coding\ _Flatline.svg);

    /* repetición de fondo */
    background-repeat: no-repeat;

    /* tamaño de fondo: portada */
    background-size: cover;

    /* archivo adjunto de fondo: fijo */
    background-attachment: fixed;

    /* posición de fondo: centro */
    background-position: center;

    display: flex;

    flex-direction: column;

    align-items: center;

    /* justificar-contenido: espacio-entre */
    justify-content: space-around;
}

.projects {
    padding: 2rem 0;  
}
  
.projects__project {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 0.1rem solid var(--box-shadow);
    border-radius: 1rem;
    padding: 4rem;
    overflow: hidden;
    transition: all 0.5s;
    background-color: var(--theme-color);
}
  
.projects__project:hover {
    box-shadow:
      0 0 0.5rem var(--highlight-color-3),
      0 0 1rem var(--highlight-color-1),
      0 0 1.5rem var(--highlight-color-2);
    transform: scale(1.05);
}

.projects__project-image-container {
    display: flex;
    margin: 0%;
    width: auto;
    justify-content: center;
    padding: 0.2rem;
}
  
.projects__project-image {
    width: 50%;
    border-radius: 15px 15px 0px 0px;
}

.projects__project-data {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    padding: 0 1rem;
}
  
.projects__project-data-title {
    color: var(--highlight-color-4);
    margin: 0;
    font-weight: 700;
    font-size: 2rem;
}

.projects__project-data-alumna {
    color: var(--highlight-color-1);
    font-weight: 600;
    font-size: 1.7rem;
    margin: 0;
}

.projects__project-data-profesor {
    color: var(--highlight-color-4);
    font-weight: 400;
    font-size: 1.7rem;
    margin: 0;
}
  
  
.projects__project-data-reto {
    color: var(--highlight-color-1);
    font-weight: 400;
    font-size: 1.7rem;
    margin: 0;
}
  
.projects__project-data-technologies {
    color: var(--inverse-theme-color);
    font-weight: 400;
    margin: 0;
}

.projects__project-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
  
.projects__project-button {
    text-decoration: none;
    font-weight: 700;
    background-color: var(--highlight-color-1);
    border: 0.1rem solid var(--highlight-color-1);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: var(--highlight-color-4);
    transition: all 0.5s;
}
  
.projects__project-button--bg-purple{
    background-color: var(--highlight-color-3);
    border: 0.1rem solid  var(--highlight-color-3);
    color:var(--inverse-text-color);
}
  
.projects__project-button:hover {
    border: 0.1rem solid var(--inverse-theme-color);
    background-color: var(--inverse-text-color);
    color: var(--inverse-theme-color);
}

@keyframes fanimado {

    0% {
        background-position: 0% 50%;
    }
    
    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}